a {
	cursor: pointer;
	color: #90D4EB; 
}

a:hover 
{
	color:#EE0909;
	text-decoration: none;
}


.byline {
float: right;
}

.address {
float: right;
}

div.photo {
  float: left;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

div.photo p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

#filterList{
margin-top: 15px;
margin-bottom: 15px;
}

#tagList{
margin-top: 15px;
margin-bottom: 15px;
}

.cityCombo{
margin-bottom: 9px;
    padding: 4px;
    }
    
    
.story {
margin-bottom: 15px;
border-bottom: thin red solid;
}

.story h2 a {
color: black;
}

.story h2 a:hover {
color: #EE0909;
}

.tag {
	cursor: pointer; 
}

.logo {
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
}

.container {
//background-color: #FFFFFD;

}


.navbar-inner {
	background-color: #FFFFFF;
    background-image: none;
 }
 
 .navbar {
 	position: static;
 	margin-top: 10px;
 	border-top: 8px black solid;
 	//border-bottom: 2px #BAF9FF solid;
 	border-bottom: 2px #000000 solid;
 }
 
 .nav-menu 
 {
 	width: 1170px;
 	margin-left: auto;
	margin-right: auto;
	
	
 	//vertical-align:bottom;
 }
 .nav-menu a {
 	padding-left: 20px;
 	font-size: 20px;
 	color: black;
 }
 
.nav-menu  a:visited {color:#000000;}
.nav-menu  a:hover 
{
	color:#EE0909;
	text-decoration: none;
}
 
 .left {
 	float: left;
 	vertical-align:bottom;
 }
 
 .right {
 	float: right;
 }